<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462530464740-15lobva68ov7qe59ual7vkcv3sajnulk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462530464740-15lobva68ov7qe59ual7vkcv3sajnulk</string>
	<key>API_KEY</key>
	<string>AIzaSyCJivhU4Vui7zmSpOAiu2zkZixrsjMVMQk</string>
	<key>GCM_SENDER_ID</key>
	<string>462530464740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sulahmad.bootstrap</string>
	<key>PROJECT_ID</key>
	<string>bootstrap-project-69804</string>
	<key>STORAGE_BUCKET</key>
	<string>bootstrap-project-69804.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462530464740:ios:042ac968c15851c01c95f1</string>
</dict>
</plist>